*.o
*.d
SpaceInvaders_uvopt.bak
*.bak
SpaceInvaders_SpaceInvaders.dep
*.crf
*.lst
startup.s
*.uvopt
SpaceInvaders.uvgui.ValvanoJonathan
*.User
SpaceInvaders.uvgui
*.htm
SpaceInvaders.map
*.iex
random.s
*.axf
SpaceInvaders.lnp
*.plg
SpaceInvaders.tra
*.uvproj
TExaS.c
TExaS.c
